@font-face {
  src: url("/font/SDK_SC_Web.ttf") format("truetype");
  font-family: "SDK SC Web";
  font-display: swap;
}

@font-face {
  src: url("/font/FirstWorld.ttf") format("truetype");
  font-family: "FirstWorld";
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
}

body {
  --kokomi-purple: #C9CEEE;
  --kokomi-pink: #DE9EBA;
  --color-bg: #DFDFDF;
}

body[arco-theme="dark"] {
  --kokomi-purple: #767ABA;
  --kokomi-pink: #DE9EBA;
  --color-bg: #232324;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, var(--kokomi-purple) 10%, var(--kokomi-pink) 90%);
  color: var(--color-text-1);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    "SDK SC Web",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0px;
}

a {
  transition: 0.4s;
  color: var(--color-text-1);
}

p {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill-screen {
  flex: 1;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded-small {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}

.rounded-medium {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.rounded-large {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
}

#app {
  width: 96vw;
  height: 96vh;
  overflow: hidden;
  border: var(--color-border) solid 5px;
  border-radius: 2rem;
  background-color: var(--color-bg);

  display: flex;
}

.sidebar-menu {
  width: 240px;
  height: 100%;
  background-color: var(--color-fill-2);
  padding: 10px 0px;

  justify-content: space-between;

  .menu {
    .achievement-sidebar {
      .achievement-serie {
        width: 90%;
        padding: 0.25rem 1rem;
        justify-content: center;

        p {
          text-align: right;

          &.achievement-serie-subtext {
            font-size: 12px;
          }
        }
      }

      .router-link-active.router-link-exact-active {
        .achievement-serie {
          background-color: var(--kokomi-purple);
        }
      }
    }
  }
}

#main-view {
  width: 100vw;
  height: 100%;
  overflow-y: hidden;

  .achievement-manage {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    .achievement-item {
      margin-top: 0.5rem;
      width: calc(100% - 1rem);
      background-color: var(--color-fill-3);
      padding: 0.5rem;
      border-radius: 1px;
      border-top-right-radius: 1rem;

      justify-content: left;

      .achievement-button{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
        color: var(--color-text-1);
        background-color: var(--color-fill-2);
        cursor: pointer;

        &.achieved {
          background-color: var(--kokomi-purple);
        }

        &.conflict {
          background-color: var(--kokomi-pink);
          cursor: not-allowed
        }
      }

      .achievement-text {

        > p {
          font-weight: 700;
        }

        .achievement-description {
          font-size: 12px;
          height: 40px;
          justify-content: top;
          color: var(--color-text-2);
        }
      }
    }
  }
}

// 取消 Arco 标徽的阴影
.arco-badge-number, .arco-badge-text {
  box-shadow: 0 0 0 0;
}

// consistent scrollbar style on all desktop browsers
@media screen {
  html[data-scrollbar="customize"] {

    ::-webkit-scrollbar {
      border-radius: 1rem;
      background: transparent;
      width: 0.65rem;
    }

    ::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 0.65rem;
      background: var(--color-fill-3);
      background-clip: content-box;

      &:hover {
        background: var(--color-fill-4);
      }
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {

}